## System
.idea/
.DS_Store

## Node
node_modules/

## Logs
logs/
*.log

## Env
.env
.env.*

## Build
dist/
build/
coverage/
.cache/

## RageMP
.listcache
client_packages/game_resources/dlcpacks
client_packages/cef
client_packages/index.js

## Server build
packages/server/index.js
packages/server/index.js.map

## Misc
*.zip

# media
*.png
*.jpg
*.jpeg
*.gif
*.mp3
*.wav
*.ogg
*.mp4

# foldere media
assets/
media/
sounds/
images/
