.gas_current {
	position: relative;
	width: 22%;

	&-title {
		position: absolute;
		top: -10%;
		left: -15%;
		margin: 0;
		z-index: 3;
	}

	&-container {
		position: relative;
		padding: 0 6% 3%;
		padding-left: 7%;
		height: 10vh;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
			background: #000000;
			border: 2px solid rgba(135, 0, 0, 0.717);
			box-shadow: 0 8px 32px rgba(0,0,0,0.45);
			border-radius: 0.5vw;
	}

	&-fill {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		background: linear-gradient(
			45deg,
			rgba(255, 115, 3, 1) 0%,
			rgba(255, 115, 3, 1) 27%,
			rgba(255, 149, 17, 1) 72%
		);
		opacity: 0.85;
		z-index: -1;
	}

	&-percent {
		font-size: 2.2vw;
	}

	&-type {
		text-align: center;

		h4 {
			margin: 0;
			font-size: 1vw;
			font-weight: 200;
		}
	}
}
