.chat_messages {
	margin-bottom: 2%;
	opacity: 0;
	transition: opacity 0.4s ease;
	pointer-events: none;

	&.active {
		opacity: 1;
		pointer-events: all;
	}

	&-list {
		padding-left: 0; // eliminăm paddingul general
		height: 25vh;
		direction: rtl;
		overflow-y: scroll;

		&::-webkit-scrollbar {
			width: 1px;
			opacity: 0;
		}
	}

&-item {
	position: relative;
	//margin-bottom: -1px;
	text-align: left;
	font-family: 'SF UI Text';
	font-weight: 500;
	font-size: 1vw;
	direction: ltr;
	text-shadow: 0.07vw 0.07vw 0.07vw rgba(0, 0, 0, 0.4);

	// Schimbă aici:
	display: block; // NU flex
	padding: 0.6vh 0.8vh;
	//border-radius: 0.7vh;

	// padding doar pe conținutul intern
	> span,
	> p,
	> div,
	> strong {
		padding-left: 0.3vw;
	}
}

}

.badge {
	display: inline-block !important;
	vertical-align: middle !important;
	padding: 0.2vh 0.6vh !important;
	font-size: 0.7vw !important;
	font-weight: bold !important;
	border-radius: 0.2vh !important;
	margin-right: 0.5vh !important;
	line-height: 1.5 !important;
	height: 1.7em !important;
	min-height: 1.7em !important;
	max-height: 1.7em !important;
}


.badge-img {
	display: inline-block;
	width: 1em;
	height: 1em;
	vertical-align: middle;
	margin-right: 0.28em;
	object-fit: contain;
	user-select: none;
	pointer-events: none;
}

// NUMAI background și color pe subclase!
.badge.red { background: #e70000; color: white; }
.badge.blue { background: #0055bd; color: white; }
.badge.cyan { background: #00aeff; color: #000; }
.badge.yellow { background: #d0ff00; color: #000; }
.badge.green { background: #007e19; color: #fff; }
.badge.lightgreen { background: #30ff52; color: #000; }
.badge.purple { background: #8c00af; color: #fff; }
.badge.black { background: #000000; color: #fff; }


