.player-buletin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


.player-buletin_container {
  position: relative;
  width: 40%;
  height: 55%;
  background: url(~assets/images/buletin.png) center no-repeat;
  background-size: contain;
  overflow: hidden;
}

.faction-docs_close {
  position: absolute;
  top: 5%;
  right: 1.5vw;
  font-size: 2vw;
  color: #000000;
  cursor: pointer;
  z-index: 10;
}

.buletin-photo {
  position: absolute;
  top: 1%;
  left: 7%;
  width: 17%;
  aspect-ratio: 3/4;
  object-fit: cover;
}


.player-buletin_fields {
  list-style: none;
  margin: 15%;
  margin-left: 5%;
  padding: 15% 4% 0 25%;
}

.player-buletin_field {
  margin-bottom: 3.5%;
  display: flex;
  align-items: center;
}

.player-buletin_field:nth-child(3) {
  margin-bottom: 5%;
}

.player-buletin_field-name {
  margin: 0;
  color: #000000;
  font-weight: 300;
  font-size: 1vw;
  font-weight: bold;
}

.player-buletin_field-value {
  margin-left: 3%;
  color: #000000;
  font-size: 1vw;
  font-weight: bold;
}
