.weapons_categories {
	display: flex;
	justify-content: space-between;
	align-items: center;
	//transform: rotate(-1deg);
	margin-bottom: 2vw;

	&-item {
		width: 24%;

		&.active .container {
			position: relative;
			padding: 4%;
			display: flex;
			align-items: center;
			justify-content: center;
			background: url(~assets/images/weapon-category.png) top no-repeat;
			background-size: cover;
			border-radius: 10px;
			border: 2px solid rgba(109, 93, 0, 0.253);
			box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.75);
			outline: none;
		}

		img {
			width: 10vw;
			height: 6vw;
			filter: invert(1);
		}

		.container {
			position: relative;
			padding: 4%;
			display: flex;
			align-items: center;
			justify-content: center;
			background: url(~assets/images/weapon-category.png) top no-repeat;
			background-size: cover;
			border-radius: 10px;
			border: 2px solid rgba(109, 93, 0, 0.253);
			box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.75);
			outline: none;
		}
	}

	&-title {
		margin: 0;
		text-transform: uppercase;
		font-size: 1.2vw;
		line-height: 1.7;
		font-weight: 200;
	}

	&-gauge {
		position: absolute;
		bottom: 1%;
		right: 2%;
		font-size: 1vw;
		font-weight: 200;
	}
}
