.inventory_character {
	width: 30%;

	&-container {
		position: relative;
		margin-bottom: 3%;
		min-height: 90%;

		&::before {
			@extend %pseudo;

			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			//clip-path: polygon(8% 4%, 100% 0, 96% 95%, 0% 100%);
			background: url(~assets/images/characterbg5.png) bottom no-repeat;
			background-size: cover;
			border-radius: 10px;
		border-radius: 10px;
		border: 2px solid rgba(65, 65, 65, 0.413);
		box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.75);
			z-index: 0;
		}



		& > * {
			position: relative;
			z-index: 3;
		}
	}

	&-title {
		margin: 0;
		text-transform: uppercase;
		font-size: 0.9vw;
		font-weight: 200;
	}

&-clothes {
	position: relative; // ← necesar pentru absolute la copii
	width: 100%;
	height: 70vh;
}


	&-equipment {
		padding-bottom: 5%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		& > div:nth-child(2) {
			margin-bottom: 0;
		}

		& > div:nth-child(3) {
			margin-bottom: 0;
		}

		& > div:last-child {
			position: absolute;
			margin-bottom: 0;
			left: 0%;
			top: -65%;
		}
	}

&-item {
	position: absolute;
	width: 2.5vw;
	height: 2.5vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 3;

	img {
		width: 2vw;
		max-width: 2vw;
		height: 2vw;
		max-height: 2vw;
		filter: invert(1);
		opacity: 0.5;
	}
}

}
