@import './quick';
@import './pockets';
@import './backpack';
@import './indicator';
@import './selected';
@import './drop';
@import './separate';
@import './character';
@import './hints';
@import './storage';

.inventory {
	position: relative;
	height: 100%;
	padding: 4% 5%;
	padding-top: 16vh;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	&::after {
		@extend %pseudo;

		background: url(~assets/images/inventorybg5.png) center no-repeat;
		background-size: cover;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
	}

	&_container {
		width: 45%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&_cell {
		position: relative;
		width: 4.2vw;
		height: 4.2vw;
		display: flex;
		align-items: center;
		justify-content: center;

		& > * {
			position: relative;
			z-index: 2;
		}

		&.is-over {
			opacity: 0.5;
		}

		&.is-blocked {
			opacity: 1;
		}

		&::after {
			@extend %pseudo;

			width: inherit;
			height: inherit;
			background: radial-gradient(circle, rgba(18, 18, 18, 0.95) 0%, rgba(7, 7, 7, 0.8) 70%, rgba(0, 0, 0, 0.95) 100%);
			border-radius: 10px;
			border: 2px solid rgba(65, 65, 65, 0.413);


			//clip-path: polygon(3% 4%, 100% 0%, 89% 93%, 0% 100%);
		}

		svg {
			width: 1.7vw;
			height: 1.7vw;
		}
	}

	&_cellpockets {
		position: relative;
		width: 7.2vw;
		height: 7.2vw;
		display: flex;
		align-items: center;
		justify-content: center;

		& > * {
			position: relative;
			z-index: 2;
		}

		&.is-over {
			opacity: 0.5;
		}

		&.is-blocked {
			opacity: 1;
		}

		&::after {
			@extend %pseudo;

			width: inherit;
			height: inherit;
			background: radial-gradient(circle, rgba(18, 18, 18, 0.95) 0%, rgba(7, 7, 7, 0.8) 70%, rgba(0, 0, 0, 0.95) 100%);
			border-radius: 10px;
			border: 2px solid rgba(65, 65, 65, 0.413);


			//clip-path: polygon(3% 4%, 100% 0%, 89% 93%, 0% 100%);
		}

		svg {
			width: 2vw;
			height: 2vw;
		}
	}

	&_grid {
		margin: 0 auto;
		padding: 0 3%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		&-cell {
			margin-bottom: 3%;
			width: 4.5vw;
			height: 4.3vw;
			transform: rotate(1deg);

			&::after {
				//clip-path: polygon(0 3%, 100% 0, 94% 97%, 5% 96%);
			}
		}
	}

	&_item {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;

		&:hover img {
			transform: scale(1.1);
		}

		img {
			width: auto;
			height: auto;
			max-width: 3vw;
			max-height: 100%;
			filter: invert(0);
			opacity: 1;
			transition: transform 0.2s ease-in-out;
		}

&-amount {
	position: absolute;
	left: -6%; // sau right: -6% după cum vrei
	bottom: -15%;
	padding: 0.1vw 0.7vw; // padding in loc de width!
	background: #fff200;
	//border: 1px solid rgba(0, 45, 112, 0.506);
	border-radius: 5px;
	color: #000000;
	text-align: center;
	font-size: 1vw;
	line-height: 1.2;
	font-weight: 500;
	white-space: nowrap;
	box-sizing: border-box;
	min-width: 1.5vw; // ca să nu fie prea mic la 1 cifră
}

	}

	&_preview {
		z-index: 3;

		img {
			max-width: 3vw;
			max-height: 100%;
		}
	}

	&_title {
		margin-top: -5%;
		margin-left: 2%;
		font-size: 1.4vw;
	}

	&_indicators {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
