.hud_bonus {
  position: absolute;
  top: 12%;
  right: 0;
background: linear-gradient(
  90deg,
  rgba(143, 107, 0, 0.509),
  rgba(255, 213, 0, 0.384)
);

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1vw;
  padding: 0 1%;
  width: 10%;

  &-sum {
    .point {
      color: $pink;
      span {
        color: $white;
      }
    }
  }

  &-time {
    p {
      margin: 0;
      font-weight: 300;
    }

    b {
      margin-left: 4px;
      font-weight: 400;
    }
  }
}
