#speedo {
    position: fixed;
    display: block;
    bottom: 1px;
    right: 1px;
    width: 440px;
    height: 210px;

    #speedom {
        position: absolute;
        bottom: 1px;
        left: 200px;
    }

    canvas {
        width: 100%;
        height: 100%;
    }

    #sprite {
        display: none; // Ensures the sprite remains hidden
    }
}