.dialog-overlay {
	position: fixed;
	left: 0; top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	background: url(~assets/images/dialog-bg.png) center no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dialog-bottom-wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0; top: 0;
	pointer-events: none;
}

.dialog_container {
	background: rgba(31, 0, 0, 0.231);
	border-radius: 1vw;
	padding: 2vw 0 0 0; // padding bottom 0
	border: 2px solid rgba(135, 0, 0, 0.717);
	box-shadow: 0 8px 32px rgba(0,0,0,0.45);
	pointer-events: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 600px;
	min-width: 450px;
}

.dialog_title {
	margin: 0 0 1vw 0;
	text-transform: uppercase;
	font-size: 2vw;
	text-align: center;
	color: #fff;
}

.dialog_text {
	margin: 0;
	padding: 1vw 2vw;
	min-height: 8vh;
	font-weight: 200;
	letter-spacing: 0.02vw;
	text-shadow: 0 0 5px rgba(0,0,0,0.5);
	white-space: pre-line;
	text-align: center;
	color: #fff;
}

.dialog_answers {
	width: 100%;
	display: flex;
	margin: 0;
	padding: 0;
	border-radius: 0 0 1vw 1vw;
	overflow: hidden;

	button {
		flex: 1 1 0;
		display: block;
		border: none;
		outline: none;
		padding: 26px 0 20px 0;
		font-size: 0.80vw;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
		cursor: pointer;
		transition: background 0.15s, color 0.13s;
		margin: 0;
		border-radius: 0;
		background: #68000067;
		color: #fff;
		border-top: 2px solid rgba(135, 0, 0, 0.717);
	}

	button:not(:last-child) {
		border-right: 2px solid rgba(135, 0, 0, 0.717); // separator discret
	}

	button:first-child {
		border-bottom-left-radius: 0.5vw;
	}

	button:last-child {
		border-bottom-right-radius: 0.5vw;
	}

	button:disabled {
		opacity: 0.6;
		cursor: not-allowed;
	}

	button:hover,
	button:focus {
		background: #7c0000b3;
		color: #fff;
	}
}

@media (max-width: 600px) {
	.dialog_answers {
		flex-direction: column;
		button,
		button:first-child,
		button:last-child {
			width: 100%;
			border-radius: 0;
			font-size: 4vw;
			padding: 5vw 0 4vw 0;
		}
		button:first-child {
			border-bottom-left-radius: 0;
		}
		button:last-child {
			border-bottom-right-radius: 0;
		}
		button:not(:last-child) {
			border-right: none;
			border-bottom: 2px solid #222;
		}
	}
}
